body {
    margin: None;
    padding: None;
    background-color:lavenderblush;
}

main {
    padding: 16px;
}

h1, h2 {
    color:rgb(231, 103, 167);
    font-family:Geneva;
    text-shadow: 1px 2px 2px rgb(178, 170, 243);
}

h3 > a {
    color:forestgreen;
    font-family: Geneva;
    /* box-shadow: 0px 2px 4px 2px;
    transition: box-shadow 1s; */
}

h3 > a:hover {
    box-shadow: 0px 2px 4px 4px rgba(236, 130, 215, 0.9);
    transition: box-shadow 1s;
    font-size:larger;
    transition: font-size 1.4s;
    color:violet;
    /* transition: color 0.5s; */
}

img {
    border: 5px inset honeydew;
}

nav {
    color:hotpink;
    font-family: Geneva;
    font-style:unset;
    font-size: medium;
    background-color:lemonchiffon;
    border: 3px dashed rgb(255, 158, 206);
    padding: 16px
}

nav:hover {
    font-size:large;
    transition: font-size 1s;
    color:papayawhip;
}

a {
    text-decoration: none !important;
  }

.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stars {
    font-family: Geneva;
    color:deeppink;
}

h1, h2, ol {
   text-align: center;
}

.image-center {
    text-align:center;
}

table {
    color:rgb(177, 108, 59);
    font-family: Geneva;
    font-size: medium;
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.4;
}

thead {
    background-color:honeydew;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid pink;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color:rgb(242, 233, 219);
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 20px;
    font-family: Geneva;
    color:rgb(172, 118, 79);
    font-size: 16px;
    line-height: 1.4;
}

li {
    margin-bottom: 10px;
    padding-left: 20px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    color:rgb(255, 0, 217);
    font-family: Geneva;
    font-size: medium;
    font-style: italic;
    background-color: rgb(255, 238, 218);
    border: 3px dashed rgb(255, 152, 203);
}

footer:hover {
    font-size: large;
    transition: font-size 1s;
}

img {
    height: 200px;
    padding: 16px;
}
